@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <img src="~/logo-master.png" alt="..." class="img-thumbnail">
        <h1 class="display-4">Welcome to Philips Hardware Inventory Management System</h1>

        
    </div>
